@import './global.scss';

#app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 30px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  main {
    flex: 1;
    margin-left: 30px;

    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      list-style: none;
      gap: 20px;
    }
  }

  aside {
    width: 320px;
    background: #fff;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
    border-radius: 2px;
    padding: 30px 20px;

    strong {
      font-size: 20px;
      text-align: center;
      display: block;
      color: #333;
    }
  }
}

@media (max-width: 1000px) {
  #app {
    flex-direction: column;

    main {
      margin-left: 0;
      margin-top: 30px;
    }

    aside {
      width: 100%;
    }
  }
}

@media (max-width: 650px) {
  main ul {
    grid-template-columns: 1fr;
  }
}
